.product-card__title {
  margin: 0 0 110px 0;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
}

.container__product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  background-color: #FFFFFFFF;
}

.product-cards__item {
  width: 340px;
  height: 573px;
  padding: 25px;
  box-shadow: 2px 2px 10px 0 #5150761a;
  background-color: #f7f7fa;
}

.product-cards__description {
  padding-top: 30px
}

.product-cards__description-item {
  color: #A5A3B9FF;
  font-size: 12px;
  text-transform: uppercase;
}

.product-cards__description-title {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 15px 0;
}

.product-cards__description-title, .description-price__text {
  font-weight: 700;
}

.product-cards__description-paragraph {
  margin-bottom: 15px;
}

.product-cards__description-price {
  display: flex;
  justify-content: space-between;
}

.product-cards__description-list {
  margin: 10px 0 25px 0;
}

.product-cards__description-paragraph, .product-cards__description-compound, .product-cards__description-list {
  font-size: 13px;
  font-weight: 400;
}

.product-cards__description-list>li {
  margin-bottom: 10px;
  list-style: none;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 8px;
  border: 1px solid #515076FF;
  border-radius: 50%;
  vertical-align: middle;
}